:root{
	--color-body: #FFB3C1;
	--color-title-button: #A4133C;
	--color-text: #590D22;
	--color-input:  #590D2280;
	--color-button-text: #F2F8FF;
	--color-form-div: #FFFFF9; 
}

@font-face {
	font-family: 'Fredoka';
	src: url('./fonts/title/Fredoka-VariableFont_wdth\,wght.ttf') format('truetype');
	font-weight: 700;
	font-style: bolder;
}

@font-face {
	font-family: 'Fira Sans';
	src: url('./fonts/body/FiraSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

body{
	background-color: #FFB3C1;
	width: 100%;
	height: 100vh; 
	
}

main{
	width: 100%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
}

h1{
	font-family: 'Fredoka', sans-serif;
	font-size: 2.5em;
	font-weight: 700;
	color: var(--color-title-button); 
}

#userVerify, #result, #hide-div-hr{
	display: none; 
}

label{
	font-family: 'Fira Sans', sans-serif;
	font-size: 15px;
	color: var(--color-text);
}

.process-auth{
	margin: 0 auto;
	width: 580px;
	height: 75%;
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--color-form-div);
}

.info-home{
	text-align: center;
}



